<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-nav-list>
        <a mat-list-item><div class="icon"><i class="fas fa-warehouse"></i></div>Magazyn</a>
      </mat-nav-list>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item color="primary">Zasób</a>
    <a mat-list-item color="primary">PZ</a>
    <a mat-list-item color="primary">WZ</a>
    <a mat-list-item color="primary">Raporty</a>
  </mat-nav-list>
</mat-expansion-panel>
