<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-list>
            <mat-accordion class="example-headers-align">
                
            <mat-expansion-panel>
                <mat-expansion-panel-header>     
                <mat-panel-title>
                    <mat-list-item routerLink="warehouse">
                        <div class="icon"><mat-icon>storage</mat-icon></div>
                        Magazyn
                    </mat-list-item>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="warehouse/stock">Stan</a></mat-list-item>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="warehouse/gr">PZ</a></mat-list-item>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="warehouse/gr">WZ</a></mat-list-item>
                </mat-list>
            </mat-expansion-panel>  

            <mat-expansion-panel>
                <mat-expansion-panel-header>     
                <mat-panel-title>
                        <mat-list-item>
                            <div class="icon"><mat-icon>people</mat-icon></div>
                            Klienci
                        </mat-list-item>
                </mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="/newclient" routerLinkActive="active">Nowy</a></mat-list-item>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="/clientbase">Edycja</a></mat-list-item>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="/clientbase">Usuń</a></mat-list-item>
                    <mat-list-item><a mat-raised-button color="primary" routerLink="/clientbase">Baza</a></mat-list-item>
            </mat-expansion-panel>   

            <mat-expansion-panel>
                <mat-expansion-panel-header>     
                <mat-panel-title>
                        <mat-list-item>
                            <div class="icon"><mat-icon>local_shipping</mat-icon></div>
                            Dostawcy
                        </mat-list-item>
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                </mat-list>
            </mat-expansion-panel>   

        <a mat-raised-button class="vw-bt" routerLink="/pricelist">
            <mat-list-item>
                <div class="icon"><mat-icon>request_quote</mat-icon></div>
                Cennik
            </mat-list-item>  
        </a>

        <a mat-raised-button>
            <mat-list-item>
                <div class="icon"><mat-icon>receipt</mat-icon></div>
                Faktura
            </mat-list-item>
        </a>

        </mat-accordion>
        </mat-list>
    </mat-sidenav-content>
</mat-sidenav-container>