mat-sidenav-container {
    height: 100%;
    max-width: 260px;
    text-align: center;
    border-right: 1px inset rgba(30,30,30, .23);
    padding:40px 20px 20px 20px;
}

mat-accordion mat-expansion-panel, .mat-raised-button{
    margin-bottom: 20px !important;
    width: 90%;
}

mat-accordion mat-expansion-panel {
    margin-left: 50%    !important;
    transform: translateX(-50%);
}   

.icon {
    width: 25px;
    margin-right: 10px;
    margin-top: auto;
}

a .icon {
    width: 45px;
    margin-right: 0;
}