<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-list>
        <a mat-list-item>
          <mat-icon>account_circle</mat-icon>
          Użytkownik
        </a>
      </mat-list>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item>
      <a mat-raised-button color="primary" routerLinkActive="active">Admin</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-raised-button color="primary" routerLinkActive="active">User</a>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>

