<mat-toolbar color="primary" class="navbar">
  <div>
    CoalSupplierSystem
  </div>
  <div>
    <span>
      KLIENT
    </span>
    <span>
      MAGAZYN
    </span>
    <span>
      FAKTURA
    </span>
    <span>
      CENNIK
    </span>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    MENU
  </mat-sidenav>
  <mat-sidenav-content>
    content
    <button (click)="opened=!opened">
      Toggle opened
    </button>
    <button (click)="sidenav.toggle()">
      Toggle
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
