<div class="stock-main">
    <h2>Stan magazynowy</h2>
    <div class="data">
      <mat-form-field>

        <mat-label>Search <i class="fas fa-search"></i></mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Artice" #input>
      </mat-form-field>

      <app-article-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-article-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="mat-elevation-z8"></mat-paginator>
    </div>
</div>