<div class="warehouse-main-content">
    <div class="card-box">
        <mat-card class="example-card">
            <mat-card-content>
                <mat-icon>inventory_2</mat-icon>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="stock">Stan</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <mat-icon>post_add</mat-icon>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="gr">PZ</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <mat-icon>outbound</mat-icon>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="gr">WZ</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>