mat-card {
    width: 200px;
    height: 180px;
    text-align: center;
    margin: 20px;
}

mat-icon{
    height: fit-content;
    width: fit-content;
    font-size:80px;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
}

.warehouse-main-content {
    display: flex;
    justify-content: center;
    height: 100%;
    padding:40px;
}