<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Imie Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Imie</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Nazwisko Column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Nazwisko</th>
    <td mat-cell *matCellDef="let element"> {{element["surname"]}} </td>
  </ng-container>

  <!-- Pesel Column -->
  <ng-container matColumnDef="pesel">
    <th mat-header-cell *matHeaderCellDef> Pesel</th>
    <td mat-cell *matCellDef="let element"> {{element["pesel"]}} </td>
  </ng-container>

  <!-- Nip Column -->
  <ng-container matColumnDef="nip">
    <th mat-header-cell *matHeaderCellDef> Nip</th>
    <td mat-cell *matCellDef="let element"> {{element["nip"]}} </td>
  </ng-container>

  <!-- Regon Column -->
  <ng-container matColumnDef="regon">
    <th mat-header-cell *matHeaderCellDef> Regon</th>
    <td mat-cell *matCellDef="let element"> {{element["regon"]}} </td>
  </ng-container>

  <!-- BDO Column -->
  <ng-container matColumnDef="bdo">
    <th mat-header-cell *matHeaderCellDef> BDO</th>
    <td mat-cell *matCellDef="let element"> {{element.bdo}} </td>
  </ng-container>

  <!-- Kod pocztowy Column -->
  <ng-container matColumnDef="postal_code">
    <th mat-header-cell *matHeaderCellDef> kod pocztowy</th>
    <td mat-cell *matCellDef="let element"> {{element["postal_code"]}} </td>
  </ng-container>

  <!-- Miejscowosc Column -->
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Miejscowość</th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <!-- Ulica Column -->
  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef> Ulica</th>
    <td mat-cell *matCellDef="let element"> {{element["street"]}} </td>
  </ng-container>

  <!-- Nr domu Column -->
  <ng-container matColumnDef="house_nr">
    <th mat-header-cell *matHeaderCellDef> Nr domu</th>
    <td mat-cell *matCellDef="let element"> {{element["house_nr"]}} </td>
  </ng-container>

  <!-- Nr mieszkania Column -->
  <ng-container matColumnDef="flat_nr">
    <th mat-header-cell *matHeaderCellDef> Nr mieszkania</th>
    <td mat-cell *matCellDef="let element"> {{element["flat_nr"]}} </td>
  </ng-container>

  <!-- Telefon Column -->
  <ng-container matColumnDef="phone_nr">
    <th mat-header-cell *matHeaderCellDef> Telefon</th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- E-mail Column -->
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> e-mail</th>
    <td mat-cell *matCellDef="let element"> {{element["mail"]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
