<div class="warehouse-main-content">
    <div class="card-box">
        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-cubes"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="stock">Zasób</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-sign-in-alt"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">PZ</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-sign-out-alt"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">WZ</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-file-alt"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">Raporty</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>