
<div class="wh-nav-container">
  <div class="row">
    <div class="card">
      <div class="card-body">
          <div class="icon-container">
          <i class="fas fa-cubes"></i>
          </div>
          <div>
          <a href="#" class="btn btn-success">Zasób</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <div class="icon-container">
              <i class="fas fa-sign-in-alt"></i>
          </div>
          <div>
          <a href="#" class="btn btn-success">PZ</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <div class="icon-container">
              <i class="fas fa-sign-out-alt"></i>
          </div>
          <div>
          <a href="#" class="btn btn-success">WZ</a>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card-body">
          <div class="icon-container">
              <i class="fas fa-file-alt"></i>
          </div>
          <div>
          <a href="#" class="btn btn-success">Raporty</a>
          </div>
      </div>
  </div>
  </div>
</div>