<div class="warehouse-main-content">
    <div class="card-box">
        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-cubes"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="stock">Stan</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-sign-in-alt"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="gr">PZ</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-content>
                <i class="fas fa-sign-out-alt"></i>
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="gr">WZ</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>