.gr-main {
    padding:40px;
}
.gr-from {
    box-sizing: content-box;
    margin:10px;
}

.gr-title {
    text-align: center;
    font-size: 28pt;
    color: #3f51b5;
    font-weight: bold;
    margin:20px;
}

i {
    color: #3f51b5;
}



table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.add-provider-button, .add-article-button{
    font-size: 28px;
    margin-top: -50%;
}

.gr-info, .gr-provider-info, .gr-articles-info {
    border: 3px solid #3f51b548;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.action-buttons button:not(:first-of-type) {
    background-color: rgb(36, 201, 66);
    margin-left: 10px;
}