<div class="gr-main">
    <h2 class="gr-title">Przyjęcie zewnętrzne</h2>

    <form class="gr-from" [formGroup]="form">
        
        <div class="gr-info">
            <h2>Dokument</h2>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Data wystawienia</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateOfIssue">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Nr dokumentu</mat-label>
                            <input matInput disabled value="PZ/070521">
                        </mat-form-field>
                    </td>
                </tr>
        </table>
        </div>

        <div class="gr-provider-info">
            <h2>Dostawca</h2>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Dostawca</mat-label>
                            <mat-select formControlName="supplier" name="provider">
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
                                {{supplier.name}}
                              </mat-option>
                            </mat-select>                            
                          </mat-form-field>
                    </td>
                    <td>
                        <button mat-button class="add-provider-button"><mat-icon>add</mat-icon></button>
                    </td>
                </tr>
                <tr>
                    <input type="hidden">
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Nazwa</mat-label>
                            <input matInput disabled value='{{form.value.supplier.name}}'>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>NIP</mat-label>
                            <input matInput type="number" disabled value='{{form.value.supplier.nip}}'>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>

        <div class="gr-articles-info">
                <h2>Towary</h2>
                <h3>Dodaj towar <button mat-button class="add-provider-button" (click)="openDialog()"><mat-icon>zoom_in</mat-icon></button></h3>
                <table cellspacing="0" *ngIf="itemsExists">
                    <tr *ngFor="let selectedItem of selectedItems; index as i">
                        <input type="hidden" #ITEMID value="{{selectedItem.id}}">
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Kod produktu</mat-label>
                                <input matInput #INDEX  disabled value="{{selectedItem.code}}">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Nazwa</mat-label>
                                <input matInput #NAME disabled value="{{selectedItem.name}}">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Ilosc</mat-label>
                                <input matInput type="number" #AMOUT>
                            </mat-form-field>
                        </td>
                        <td>
                            <button mat-button class="add-article-button" (click)="addData(i)"><mat-icon>add</mat-icon></button>
                        </td>
                    </tr>
                </table>

                <app-article-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-article-table>
            </div>

            <div class="action-buttons">
                <button mat-raised-button color="warn">Anuluj</button>
                <button mat-raised-button (click)="saveGr()">Zapisz</button>
            </div>
    </form>
</div>

