/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    overflow: hidden;
}
* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: rgb(250, 250, 250) !important;
    height: 100%;
}

.main-content {
    overflow: auto;
}