<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-nav-list>
        <a mat-list-item>
          <div class="icon"><i class="fas fa-users"></i></div>
          Klienci</a>
      </mat-nav-list>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <a mat-list-item routerLink="/newclient" routerLinkActive="active">Nowy</a>
    <a mat-list-item routerLink="/clientbase" routerLinkActive="active">Edycja</a>
    <a mat-list-item routerLink="/clientbase" routerLinkActive="active">Usuń</a>
    <a mat-list-item routerLink="/clientbase" routerLinkActive="active">Baza</a>
  </mat-list>
</mat-expansion-panel>
